* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --cube-size: 50rem;
  --cube-part-size: calc(var(--cube-size) * 0.33);
  --cube-part-translate-z: calc(var(--cube-part-size) / 2);

  /* --color-1: darkblue; */
  --blue: darkblue;
  --red: red;
  --yellow: yellow;
  --white: lightgray;
  --orange: orange  ;
  --green: #01d04e;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-size: 4.6rem;

  background-color: #292929;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CUBE =========================================*/
#cube {
  height: var(--cube-size);
  width: var(--cube-size);

  /* border: 5px dotted black; */  
  /* background-color: rgba(24, 242, 31, 0.105); */
  
  transform-style: preserve-3d;
  transform: rotateX(-45deg) rotateY(30deg);
  /* animation: rotate 36s infinite linear; */
}
@keyframes rotate {
  from { transform: rotateX(0deg);}
  to {transform: rotateX(360deg) rotateY(360deg);}
}
/* #cube span{
  position: absolute;
  z-index: 33;
  display: block;
  height: var(--cube-size);
  width: var(--cube-size);

  transform: rotateY(90deg);

  border: 5px dotted black;
  background-color: rgba(24, 242, 31, 0.133);
} */

#cube > [id^="cube-part"] {
  position: absolute;
  display: block;
  width: var(--cube-part-size);
  height: var(--cube-part-size);

  transform-style:preserve-3d;

  transition: transform 1s;
}

#cube [id^="cube-part"] > div {
  height: var(--cube-part-size);
  width: var(--cube-part-size);

  position: absolute;

  background-color: rgba(0, 230, 251, 0.278);
  border: 5px solid black;
}

#cube [id$="bottom"] {
  transform: rotateX(-90deg) translateZ(var(--cube-part-translate-z));
}
#cube [id$="back"] {
  transform: rotateY(180deg) translateZ(var(--cube-part-translate-z));
}
#cube [id$="right"] {
  transform: rotateY(90deg) translateZ(var(--cube-part-translate-z));
}
#cube [id$="left"] {
  transform: rotateY(-90deg) translateZ(var(--cube-part-translate-z));
}
#cube [id$="front"] {
  transform: translateZ(var(--cube-part-translate-z));
}
#cube [id$="top"] {
  transform: rotateX(90deg) translateZ(var(--cube-part-translate-z));
}


#cube #cube-part-01 {
  transform: 
    translateY(calc(var(--cube-part-size) * 2))
    translateZ(calc(var(--cube-part-size) * -1))
    rotateX(180deg);
}
#cube #cube-part-01 [id$="left"] { background-color: var(--white);}
#cube #cube-part-01 [id$="front"] { background-color: var(--red);}
#cube #cube-part-01 [id$="top"] { background-color: var(--blue);}

#cube #cube-part-02 {
  transform:
    translateX(var(--cube-part-size))
    translateY(calc(var(--cube-part-size) * 2))
    translateZ(calc(var(--cube-part-size) * -1))
    rotateX(180deg);
}
#cube #cube-part-02 [id$="front"] { background-color: var(--red);}
#cube #cube-part-02 [id$="top"] { background-color: var(--blue);}

#cube #cube-part-03 {
  transform:
    translateX(calc(var(--cube-part-size) * 2))
    translateY(calc(var(--cube-part-size) * 2))
    translateZ(calc(var(--cube-part-size) * -1))
    rotateX(180deg)
    rotateY(90deg);
}
#cube #cube-part-03 [id$="left"] { background-color: var(--red);}
#cube #cube-part-03 [id$="front"] { background-color: var(--yellow);}
#cube #cube-part-03 [id$="top"] { background-color: var(--blue);}

#cube #cube-part-04 {
  transform:
    translateY(calc(var(--cube-part-size) * 2))
    rotateX(180deg)
    rotateY(-90deg);
}
#cube #cube-part-04 [id$="front"] { background-color: var(--white);}
#cube #cube-part-04 [id$="top"] { background-color: var(--blue);}

#cube #cube-part-05 {
  transform:
    translateX(var(--cube-part-size))
    translateY(calc(var(--cube-part-size) * 2))
    rotateX(180deg)
    rotateY(-90deg);
}
#cube #cube-part-05 [id$="top"] { background-color: var(--blue);}

#cube #cube-part-06 {
  transform:
    translateX(calc(var(--cube-part-size) * 2))
    translateY(calc(var(--cube-part-size) * 2))
    rotateX(180deg)
    rotateY(90deg);
}
#cube #cube-part-06 [id$="front"] { background-color: var(--yellow);}
#cube #cube-part-06 [id$="top"] { background-color: var(--blue);}

#cube #cube-part-07 {
  transform:
    translateY(calc(var(--cube-part-size) * 2))
    translateZ(var(--cube-part-size))
    rotateX(180deg)
    rotateY(-90deg);
}
#cube #cube-part-07 [id$="left"] { background-color: var(--orange);}
#cube #cube-part-07 [id$="top"] { background-color: var(--blue);}
#cube #cube-part-07 [id$="front"] { background-color: var(--white);}

#cube #cube-part-08 {
  transform:
  translateX(var(--cube-part-size))
    translateY(calc(var(--cube-part-size) * 2))
    translateZ(var(--cube-part-size))
    rotateZ(180deg);
}
#cube #cube-part-08 [id$="front"] { background-color: var(--orange);}
#cube #cube-part-08 [id$="top"] { background-color: var(--blue);}

#cube #cube-part-09 {
  transform:
    translateX(calc(var(--cube-part-size) * 2))
    translateY(calc(var(--cube-part-size) * 2))
    translateZ(var(--cube-part-size))
    rotateZ(180deg)
}
#cube #cube-part-09 [id$="left"] { background-color: var(--yellow);}
#cube #cube-part-09 [id$="front"] { background-color: var(--orange);}
#cube #cube-part-09 [id$="top"] { background-color: var(--blue);}


#cube #cube-part-10 {
  transform: 
    translateY(var(--cube-part-size))
    translateZ(calc(var(--cube-part-size) * -1))
    rotateX(90deg)
    rotateY(-90deg);
}
#cube #cube-part-10 [id$="front"] { background-color: var(--white);}
#cube #cube-part-10 [id$="top"] { background-color: var(--red);}

#cube #cube-part-11 {
  transform: 
    translateX(var(--cube-part-size))
    translateY(var(--cube-part-size))
    translateZ(calc(var(--cube-part-size) * -1))
    rotateX(90deg);
}
#cube #cube-part-11 [id$="top"] { background-color: var(--red);}

#cube #cube-part-12 {
  transform: 
    translateX(calc(var(--cube-part-size) * 2))
    translateY(var(--cube-part-size))
    translateZ(calc(var(--cube-part-size) * -1))
    rotateX(90deg)
    rotateY(90deg);
}
#cube #cube-part-12 [id$="top"] { background-color: var(--red);}
#cube #cube-part-12 [id$="front"] { background-color: var(--yellow);}

#cube #cube-part-13 {
  transform: 
    translateY(var(--cube-part-size))
    rotateZ(-90deg);
}
#cube #cube-part-13 [id$="top"] { background-color: var(--white);}

#cube #cube-part-14 {
  transform: 
    translateX(var(--cube-part-size))
    translateY(var(--cube-part-size));
}

#cube #cube-part-15 {
  transform: 
    translateX(calc(var(--cube-part-size) * 2))
    translateY(var(--cube-part-size))
    rotateZ(90deg);
}
#cube #cube-part-15 [id$="top"] { background-color: var(--yellow);}

#cube #cube-part-16 {
  transform: 
    translateY(var(--cube-part-size))
    translateZ(var(--cube-part-size))
    rotateZ(-90deg);
}
#cube #cube-part-16 [id$="top"] { background-color: var(--white);}
#cube #cube-part-16 [id$="front"] { background-color: var(--orange);}

#cube #cube-part-17 {
  transform: 
    translateX(var(--cube-part-size))
    translateY(var(--cube-part-size))
    translateZ(var(--cube-part-size))
    rotateX(-90deg);
}
#cube #cube-part-17 [id$="top"] { background-color: var(--orange);}

#cube #cube-part-18 {
  transform: 
  translateX(calc(var(--cube-part-size) * 2))
    translateY(var(--cube-part-size))
    translateZ(var(--cube-part-size))
    rotateZ(90deg);
}
#cube #cube-part-18 [id$="top"] { background-color: var(--yellow);}
#cube #cube-part-18 [id$="front"] { background-color: var(--orange);}


#cube #cube-part-19 {
  transform: 
    translateZ(calc(var(--cube-part-size) * -1))
    rotateX(90deg);
}
#cube #cube-part-19 [id$="left"] { background-color: var(--white);}
#cube #cube-part-19 [id$="front"] { background-color: var(--green);}
#cube #cube-part-19 [id$="top"] { background-color: var(--red);}

#cube #cube-part-20 {
  transform: 
    translateX(var(--cube-part-size))
    translateZ(calc(var(--cube-part-size) * -1))
    rotateX(90deg);
}
#cube #cube-part-20 [id$="front"] { background-color: var(--green);}
#cube #cube-part-20 [id$="top"] { background-color: var(--red);}

#cube #cube-part-21 {
  transform: 
    translateX(calc(var(--cube-part-size) * 2))
    translateZ(calc(var(--cube-part-size) * -1))
    rotateX(90deg)
    rotateY(90deg);
}
#cube #cube-part-21 [id$="left"] { background-color: var(--green);}
#cube #cube-part-21 [id$="front"] { background-color: var(--yellow);}
#cube #cube-part-21 [id$="top"] { background-color: var(--red);}

#cube #cube-part-22 {
  transform: 
    rotateX(90deg)
    rotateZ(-90deg);
}
#cube #cube-part-22 [id$="front"] { background-color: var(--green);}
#cube #cube-part-22 [id$="top"] { background-color: var(--white);}

#cube #cube-part-23 {
  transform: 
    translateX(var(--cube-part-size));
}
#cube #cube-part-23 [id$="top"] { background-color: var(--green);}

#cube #cube-part-24 {
  transform: 
    translateX(calc(var(--cube-part-size) * 2))
    rotateX(90deg)
    rotateZ(90deg);
}
#cube #cube-part-24 [id$="top"] { background-color: var(--yellow);}
#cube #cube-part-24 [id$="front"] { background-color: var(--green);}

#cube #cube-part-25 {
  transform: 
    translateZ(var(--cube-part-size))
    rotateX(90deg)
    rotateZ(-90deg);
}
#cube #cube-part-25 [id$="left"] { background-color: var(--orange);}
#cube #cube-part-25 [id$="front"] { background-color: var(--green);}
#cube #cube-part-25 [id$="top"] { background-color: var(--white);}

#cube #cube-part-26 {
  transform:
    translateX(var(--cube-part-size))
    translateZ(var(--cube-part-size))
    rotateX(90deg)
    rotateZ(180deg);
}
#cube #cube-part-26 [id$="front"] { background-color: var(--green);}
#cube #cube-part-26 [id$="top"] { background-color: var(--orange);}

#cube #cube-part-27 {
  transform:
    translateX(calc(var(--cube-part-size) * 2))
    translateZ(var(--cube-part-size))
    rotateZ(90deg);
}
#cube #cube-part-27 [id$="left"] { background-color: var(--green);}
#cube #cube-part-27 [id$="front"] { background-color: var(--orange);}
#cube #cube-part-27 [id$="top"] { background-color: var(--yellow);}

