#cube {
  user-select: none;
  height: var(--cube-size);
  width: var(--cube-size);

  transform-style: preserve-3d;
  transform: rotateX(-45deg) rotateY(30deg);

  --cube-size: 50rem;
  --cube-part-size: calc(var(--cube-size) * 0.33);
  --cube-part-translate-z: calc(var(--cube-part-size) / 2);

  --color1: white;
  --color2: orange;
  --color3: #01d04e;
  --color4: blue;
  --color5: red  ;
  --color6: yellow;
  --inside: transparent;
}

#cube:hover { cursor:grab; }

#cube > div {
  position: absolute;
  display: block;
  width: var(--cube-part-size);
  height: var(--cube-part-size);

  transform-style:preserve-3d;

  transition: transform 1s;
  visibility: hidden;/*to test*/
}

#cube > div > div {
  height: var(--cube-part-size);
  width: var(--cube-part-size);

  position: absolute;

  opacity: 0.8 !important;
  border: 5px solid black;
  background-color: rgb(0, 0, 0) !important;

  text-transform: uppercase;
  border-radius: 10px;
  --scale: 1;
}

#cube > div > div span {
  /* background-color: #e9e9e9 !important; */
  inset: 0;
  position: absolute;
  z-index: 1;
  transform: rotate(-45deg);
  border-radius: 10px;
  transform: scale(var(--scale)) var(--rotate);

  font-size: 9rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  /* filter: brightness(2); */
  /* box-shadow: inset 0px 0px 10px red; */
  /* -webkit-background-clip: text; */
}

#cube > div > div >span[class^="bottomSide"] > * {transform: rotate(-90deg);}
#cube > div > div > span[class^="leftSide"] > * {transform: rotate(180deg);}
#cube > div > div > span[class^="backSide"] > * {transform: rotate(-90deg);}
#cube > div > div > span[class^="frontSide"] > * {transform: rotate(90deg);}
/* #cube > div > div spa[class^="rightSide"] > * {} */
#cube > div > div > span[class^="topSide"] > * {transform: rotate(90deg);}


/*BOTTOM*/
#cube > div > div > span.bottomSide1 {}
#cube > div > div > span.bottomSide2 {}
#cube > div > div > span.bottomSide3 {}
#cube > div > div > span.bottomSide4 {}
#cube > div > div > span.bottomSide5 {}
#cube > div > div > span.bottomSide6 {}
#cube > div > div > span.bottomSide7 {}
#cube > div > div > span.bottomSide8 {}
#cube > div > div > span.bottomSide9 {}

/*LEFT*/
#cube > div > div > span.leftSide1 {}
#cube > div > div > span.leftSide2 {}
#cube > div > div > span.leftSide3 {}
#cube > div > div > span.leftSide4 {}
#cube > div > div > span.leftSide5 {}
#cube > div > div > span.leftSide6 {}
#cube > div > div > span.leftSide7 {}
#cube > div > div > span.leftSide8 {}
#cube > div > div > span.leftSide9 {}

/*BACK*/
#cube > div > div > span.backSide1 {}
#cube > div > div > span.backSide2 {}
#cube > div > div > span.backSide3 {}
#cube > div > div > span.backSide4 {}
#cube > div > div > span.backSide5 {}
#cube > div > div > span.backSide6 {}
#cube > div > div > span.backSide7 {}
#cube > div > div > span.backSide8 {}
#cube > div > div > span.backSide9 {}

/*FRONT*/
#cube > div > div > span.frontSide1 {}
#cube > div > div > span.frontSide2 {}
#cube > div > div > span.frontSide3 {}
#cube > div > div > span.frontSide4 {}
#cube > div > div > span.frontSide5 {}
#cube > div > div > span.frontSide6 {}
#cube > div > div > span.frontSide7 {}
#cube > div > div > span.frontSide8 {}
#cube > div > div > span.frontSide9 {}

/*RIGHT*/
#cube > div > div > span.rightSide1 {}
#cube > div > div > span.rightSide2 {}
#cube > div > div > span.rightSide3 {}
#cube > div > div > span.rightSide4 {}
#cube > div > div > span.rightSide5 {}
#cube > div > div > span.rightSide6 {}
#cube > div > div > span.rightSide7 {}
#cube > div > div > span.rightSide8 {}
#cube > div > div > span.rightSide9 {}

/*TOP*/
#cube > div > div > span.topSide1 {}
#cube > div > div > span.topSide2 {}
#cube > div > div > span.topSide3 {}
#cube > div > div > span.topSide4 {}
#cube > div > div > span.topSide5 {}
#cube > div > div > span.topSide6 {}
#cube > div > div > span.topSide7 {}
#cube > div > div > span.topSide8 {}
#cube > div > div > span.topSide9 {}
